<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css"> 
  </head>
  <body>
    <header>
      <nav>
        <ul>   
          <li> <a href="/"> Accueil</a> </li>
          <li> <a href="/users"> Login</a> </li>
          <li> <a href="/transactions"> Transactions</a></li>
          <li> <a href="/categories"> Catégories</a> </li>
          <li> <a href="/budgets"> Budgets</a> </li>
          <li> <a href="/settings"> Settings</a> </li>



        </ul>
      </nav>
    </header>
    {{{body}}}
    <footer>

    </footer>
  </body>
</html>
