<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <!-- Inclure Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Inclure CSS peronnalisé -->
    <link rel="stylesheet" href="/stylesheets/style.css"> 


    <!-- jQuery (nécessaire pour les fonctionnalités JavaScript de Bootstrap) -->
    {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> --}}
    <script src="/js/jquery/jquery.min.js"></script>

    <!-- Popper.js (nécessaire pour les tooltips et les popovers) -->
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> --}}
    <script src="/js/popper/popper.min.js"></script>


    <!-- Fichiers JavaScript de Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {{!-- <script src="/js/bootstrap/bootstrap.min.js"></script> --}}

  </head>
  <body>
    <header>
      <nav>
        <ul>   
          <li> <a href="/"> Accueil</a> </li>
          <li> <a href="/users"> Login</a> </li>
          <li> <a href="/transactions"> Transactions</a></li>
          <li> <a href="/categories"> Catégories</a> </li>
          <li> <a href="/budgets"> Budgets</a> </li>
          <li> <a href="/comptes"> Comptes</a> </li>
          <li> <a href="/settings"> Settings</a> </li>



        </ul>
      </nav>
    </header>
    {{{body}}}

    <footer>

    </footer>
  </body>
</html>
